.footer {
  background: linear-gradient(90deg, rgba(237, 218, 165, 0.925) 0%, rgba(183, 163, 116, 0.897) 47%, rgba(131, 109, 68, 0.89) 100%);
  color: #fff;
  padding: 40px 20px;
}

.footer__content {
  background: none;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}


.footer__section {
  background: none;
  width: 250px;
}


.footer__title {
  background: none;
  font-size: 1.5rem;
  font-weight: 750;
  margin-bottom: 15px;
  color: #000000;
}


.footer__text {
  background: none;
  color: #444;
  font-size: 0.9rem;
  margin: 0 0 10px;
}


.footer__list {
  background: none;
  list-style: none;
  padding: 0;
}

.footer__list li {
  background: none;
  margin-bottom: 10px;
}


.footer__link {
  background: none;
  color: #444;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
  
}
.footer__link:hover {
  color: rgba(255, 131, 0, 1);
}


.footer__social {
  background: none;
  display: flex;
  gap: 15px;
}

.footer__social-link {
  background: none;
  display: inline-block;
  transition: transform 0.3s ease;
}

.footer__social-link:hover {
  transform: scale(1.1);
}

.footer__social-icon {
  background: none;
  width: 55px;
  height: 55px;
}


.footer__bottom {
  background: none;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #444;
}

.footer__bottom .footer__text {
  background: none;
  font-size: 0.8rem;
  margin: 0;
}