*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter';
}

main{ 
  background-image: url('./assets/snejki.svg');
  object-fit: cover;
  object-position: center;
  background-color: #D4D4D4;
}

@font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}
